@use '@utils/mixins.scss' as mix;

@include mix.breakpoint(desktop) {
    .order {
        &-wrapper {
            display: flex;
            justify-content: space-around;
        }
        &__buyer-info {
            flex-basis: 40%;
        }
        &__delivery {
            flex-basis: 30%;
            &-title {
                padding: 20px 0;
            }
        }
        &-confirm {
            transform: translateX(14%);
            width: 80%;
        }
    }
}

@include mix.breakpoint(desktopLarge) {
    .order {
        &-confirm {
            width: 50%;
            transform: translateX((50%));
        }
    }
}