@use '@utils/mixins.scss' as mix;

@include mix.breakpoint(tablet) {
    .burger {
        height: 32px;
        width: 40px;
        margin-right: 20px;
        &__item {
            height: 5px;
        }
    }

    #checkbox-burger:checked~.burger__btn>span:nth-child(1) {
        transform: rotate(45deg) translate(6.67px, 12px);

    }

    #checkbox-burger:checked~.burger__btn>span:nth-child(3) {
        transform: translate(6.25px, -12px);
        transform: rotate(-45deg) translate(6.67px, -12px);

    }
}