@use '@utils/mixins.scss' as mix;

.product-list {
    &__title {
        text-align: center;
        background-color: #7F7F7F;
        padding: 30px 0;
        margin-bottom: 30px;
        @include mix.textProp(#fff, 3rem, 400);
        font-family: 'Rubik', sans-serif
    }
    &__description {
        padding: 20px 0;
        &-title {
            padding: 15px 0;
            @include mix.textProp(#000, 1.5rem, 600);
            font-family: 'Rubik', sans-serif;
        }
        &-text {
            @include mix.textProp(#000, 1rem, 500);
            font-family: 'Montserrat', sans-serif;
        }
        &-subtitle {
            padding: 15px 0;
            @include mix.textProp(#000, 1.3rem, 600);
            font-family: 'Rubik', sans-serif;
        }
    }
}